:root {
    --red-500: #ef4444;
    --red-600: #dc2626;
    --red-700: #b91c1c;
    --neutral-800: #262626
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: var(--neutral-800);
    color: white;
}

main {
    width: 100vw;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    place-items: center;
    place-content: center;
}

button {
    all: unset;
    justify-self: end;
}

button {
    background-color: var(--red-500);
    padding: 1rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--red-600);
}

button:active {
    background-color: var(--red-700);
}

div {
    width: 100%;
    align-self: center;
}
